:root {
    text-align: center;

    --primary-background-color: #e9e9e9;
    --primary-shadow-color: #ffffff;
    --primary-color: #f9f9f9;

    --accent-background-color: #80808052;
    --accent-color: #ffffff;
    --accent-color-outline: #4f4f4f;
    --accent-color-outline: #000000;

    --main-background-color: #6b8598;
    --game-axis-color: #e9e9e9;


    --vec-rock-bg-color: #ff4343;
    --vec-paper-bg-color: #5cfd54;
    --vec-scissors-bg-color: #6379e7;

    --vec-rock-color: #f20000;
    --vec-paper-color: #5cfd54;
    --vec-scissors-color: #4161ff;

    --vec-pivot-color: #fb63f1;
    --vec-cross-p-color: #f6ff00;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: #251833;
        --primary-shadow-color: #fcfcfc;
        --primary-color: #f9f9f9;
    }
}

canvas{
    border-radius: 1em;
    min-height: 50vh;
}


body,
html {
    font-family: 'Space Mono', monospace;

    font-weight: 900;
    font-size: larger;
    text-transform: uppercase;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
}


body {
    display: grid;
    place-content: center;

    overflow: hidden;
    padding: 0 30px 0 30px;

    color: var(--primary-color);
    /* background-image: url("imgs/background.svg"), */
    background-image: linear-gradient(0deg, var(--primary-background-color), color-mix(in srgb, var(--primary-background-color) 50%, black 50%));        
        /* background-image: url("imgs/background.svg"); */

    /* filter: blur(0.5px); */
    backdrop-filter: blur(5px);
    background-position: center;
    background-attachment: fixed;
}


section.game-container {
    display: grid;
    width: clamp(400px, 90vw, 1300px);

    grid-template-columns: 1fr minmax(100px, 6fr) 1fr;
    gap: 1em;
}


form{
    height: max-content;
}


form div.player-choices {
    padding: .3em;

    display: grid;

    place-items: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
}

form div.player-choices label {
    width: 8em;
    height: 3em;

    cursor: pointer;
    user-select: none;
    border-radius: 100em;

    text-shadow:
           0  1px 0 var(--accent-color-outline),
         1px    0 0 var(--accent-color-outline),
           0 -1px 0 var(--accent-color-outline),
        -1px    0 0 var(--accent-color-outline),
        -1px -1px 0 var(--accent-color-outline),
         1px  1px 0 var(--accent-color-outline),
         1px -1px 0 var(--accent-color-outline),
        -1px  1px 0 var(--accent-color-outline);

    border: 3px solid var(--primary-shadow-color);
    /* box-shadow: .4em .2em 0 var(--primary-shadow-color); */
    /* background-color: var(--button-color); */
    --button-bg-color: var(--button-base-color);
    /* color: linear-gradient(-135deg, var(--button-bg-color), color-mix(in srgb, var(--button-bg-color) 50%, black 50%)); */
    /* color: var(--button-base-color); */

    transition-duration: 300ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

form div.player-choices label[for^="rock"] {
    --button-base-color: var(--vec-rock-bg-color);
}

form div.player-choices label[for^="paper"] {
    --button-base-color: var(--vec-paper-bg-color);
}

form div.player-choices label[for^="scissors"] {
    --button-base-color: var(--vec-scissors-bg-color);
}

form div.player-choices input[type="radio"] {
    display: none;
}

form div.player-choices label:hover {
    /* --button-bg-color: color-mix(in srgb, var(--button-base-color) 100%, white 10%); */
    color: var(--button-base-color);
}

form div.player-choices label:active {
    /* 15% more darker */
    --button-bg-color: color-mix(in srgb, var(--button-base-color) 100%, black 15%);
}

form div.player-choices label:has(:checked){
    /* 60% more darker */
    --button-bg-color: color-mix(in srgb, var(--button-base-color) 100%, black 60%);

    text-shadow: 0 0 0;
    /* text-shadow:
           0    0 5px #808080,
           0  1px   0 var(--accent-color-outline),
         1px    0   0 var(--accent-color-outline),
           0 -1px   0 var(--accent-color-outline),
        -1px    0   0 var(--accent-color-outline),
        -1px -1px   0 var(--accent-color-outline),
         1px  1px   0 var(--accent-color-outline),
         1px -1px   0 var(--accent-color-outline),
        -1px  1px   0 var(--accent-color-outline); */

        /* background-color: #9f7e7e; */
        border-color: var(--button-base-color);
        color: var(--button-base-color);
}

/* canvas {
    height: 75vh; 
    padding: 1em; 
    
    background-color: var(--main-background-color); 
    background-image: linear-gradient(-180deg, var(--main-background-color), color-mix(in srgb, var(--main-background-color) 50%, black 70%)); 
    border: .1em solid var(--primary-shadow-color); 
    box-shadow: .4em .2em 0 var(--primary-shadow-color); 
} */

canvas.game {
    width: 100%;
    height: 75%;

    border: .1em solid var(--primary-shadow-color);
}


span {
    color: var(--vec-text-color);
}

span[data-choice="rock"] {
    --vec-text-color: var(--vec-rock-color);
}
span[data-choice="paper"] {
    --vec-text-color: var(--vec-paper-color);
}
span[data-choice="scissors"] {
    --vec-text-color: var(--vec-scissors-color);
}
span[data-choice="pivot"] {
    --vec-text-color: var(--vec-pivot-color);
}
span[data-choice="cross-p"] {
    --vec-text-color: var(--vec-cross-p-color);
}


p{
    font-size: medium;
    margin: .4em 0;
}